@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	font-family: 'Noto Sans Variable', sans-serif;
}

body {
	@apply bg-slate;
}

.container {
	width: 92%;
	margin: auto;
	/*border-left: dashed slategray;
	border-right: dashed slategray;*/
}

@media only screen and (min-width: 576px) {
	.signal-line {
		--rotation: 0deg;
	}
	.container {
		width: 540;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

section{@apply py-20;}

@layer components {
	.button {
        @apply py-5 px-4 box-border text-2xl align-middle text-center font-black inline-flex mr-5 mb-5 border-4 rounded-sm bg-white/0 transition-colors ease-in-out;
    }
	.dark{
        @apply text-slate border-slate hover:bg-gray-default;
	}
	.cta.dark{
        @apply text-slate bg-gray-default/100 border-slate hover:bg-gray-light;
	}
	.light{
        @apply text-white border-white hover:bg-gray-default;
	}
	.cta.light {
        @apply text-white border-white bg-gray-dark/100 hover:bg-gray-default;
	}
  }